@import url(variables.css);

* {
    margin: 0;
    padding: 0;
}

.filter {
    position: absolute;
}

.filter img {
    object-fit: cover;
    display: flex;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}